<!DOCTYPE html>
<html ng-app="ratingApp">
<head>
    <script src="lib/angular/angular.js"></script>
    <script src="js/main.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="js/services.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
</head>
<body>
<div ng-controller="RatingAppCtrl" class="well well-small">
    <h4>Default</h4>  
    <pre style="margin:15px 0;">Average: <b>{{avg | number:2}}</b> - No. of rates: <b>{{count}}</b></pre>
    <button class="btn btn-small btn-primary" ng-click="addRate()" ng-disabled="isReadonly">Add</button>
    <button class="btn btn-small btn-danger" ng-click="deleteAllRate()" >Clear All</button>
    <h5> Average <rating id="0" value="avg" max="max" readonly="true"></rating> </h5>
    <ul class="rates">
    <li ng-repeat="rate in rates | orderBy:'id':number" style="margin:10px 0;list-style: none;">
    {{rate.id}}
	<rating id="{{rate.id}}" value="rate.value" max="max" readonly="false"></rating>	
	
	<button class="btn btn-small btn-danger" ng-click="deleteRate(rate.id)">Clear</button>	
      
    </li>
    </ul>
    
</div>
</body>
</html>